.shop {
  color: blueviolet;
  font-style: oblique;
  font-size: xx-large;
  font-weight: lighter;
  text-align: left;
  margin-left: 2rem;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.man {
  font-size: xx-large;
  margin-right: 2rem;
}
@media only screen and (max-width: 600px) {
  .shop {
    color: blueviolet;
    font-style: oblique;
    font-size: large;
    font-weight: 500;
    text-align: left;
    margin-left: 1rem;
  }
  .man {
    font-size: x-large;
    margin-right: 1rem;
  }
}
