.shop {
  color: blueviolet;
  font-style: oblique;
  font-size: xx-large;
  font-weight: lighter;
  text-align: left;
  margin-left: 2rem;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.man {
  font-size: xx-large;
  margin-right: 2rem;
}
