.App {
  text-align: center;
}
.footer {
  border: 1px solid black;
  /* margin: 5px; */
  padding: 5px;
  background: green;
  color: wheat;
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
